API_DOCS=true
DOCS_PREPEND_URL=
CQF_RULER_R4=[CQF Ruler Base URL]
EXTERNAL_FHIR_SERVER_URL=[FHIR Server Base URL]
EXTERNAL_FHIR_SERVER_AUTH=[FHIR Server Auth]
NLPAAS_URL=[NLPaaS Base URL]
DEPLOY_URL=[]